{% extends "layout.twig" %}

{% block content %}


	{{widget('feature', 'headerfeature', {
		"defaultBgImg": asset('images/feature.jpg'),
		"positionTopPercentage": "30",
		"showBtn": true
	})|raw}}


	<header class="template-header">

		<div class="container">

			<div class="container  container--flexbox">
				{{widget('logo', 'headerlogo', {
					"defaultlogo": asset('images/logo.png')
				})|raw}}

				{{widget('extendednavigation', 'headernavigation', {
					"align":"left"
				})|raw}}

			</div>

		</div>

	</header>


	<section class="template-content">

		<div class="container  container--main">

			{{widget('gallery', 'imagegallery', {
				'showTitle': true,
				'showDescription': true,
				'images':[
					{
						'url': asset('/images/photo-1.jpg'),
						'title':'Lorem Ipsum',
						'description': 'Consectetur adipiscing elit. Etiam libero nibh'
					},
					{
						'url': asset('/images/photo-2.jpg'),
						'title':'Lorem Ipsum',
						'description': 'Consectetur adipiscing elit. Etiam libero nibh'
					},
					{
						'url': asset('/images/photo-3.jpg'),
						'title':'Lorem Ipsum',
						'description': 'Consectetur adipiscing elit. Etiam libero nibh'
					}
				]
			})|raw}}

			{{zone('main')|raw}}

		</div>

	</section>


	<footer class="template-footer">

		<div class="container">

			<div class="profile-content	left">
				{{widget('profile', 'footerprofile1', {
					"profileType":"copyright",
					"copyright":"profile"
				})|raw}}
			</div>

			<div class="profile-content	right">
				{{widget('profile', 'footerprofile2', {
					"profileType":"socialicons",
					"socialicons":"profile"
				})|raw}}
			</div>

		</div>

	</footer>


{% endblock %}