{% extends "layout.twig" %}

{% block content %}

	<header class="template-header">

		<div class="container">

			<div class="container  container--flexbox">
				{{widget('logo', 'headerlogo', {
					"defaultlogo": asset('images/logo.png')
				})|raw}}

				{{widget('extendednavigation', 'headernavigation', {
					"align":"left"
				})|raw}}

			</div>

		</div>

	</header>

	{{widget('feature', 'headerfeature', {
		"header": "profile",
		"strapline": "profile",
		"defaultBgImg": asset('images/feature.jpg'),
		"positionTopPercentage": "30",
		"showBtn": true,
		"buttonText": "Lorem Ipsum"
	})|raw}}

	<section class="template-content">

		<div class="container  container--main">

			{{zone('main')|raw}}

		</div>

	</section>


	<footer class="template-footer">

		<div class="container">

			<div class="profile-content  left">
				{{widget('profile', 'footerprofile1', {
					"profileType":"copyright",
					"copyright":"profile"
				})|raw}}
			</div>

			<div class="profile-content  right">
				{{widget('profile', 'footerprofile2', {
					"profileType":"socialicons",
					"socialicons":"profile"
				})|raw}}
			</div>

		</div>

	</footer>


{% endblock %}